@media screen and (min-width: 900px){
    .skills, .portfolio {
          flex-direction: row;
          width: 45rem;
        }
    .skills{
          margin: 2rem auto 0;
        }
    .portfolio{
          margin: 2rem auto;
          flex-wrap: wrap;
          justify-content: center;
        }
    .wrapper{
          width: calc(48%);
          flex: none;
        }
    }